@model CityExplorer.Web.ViewModels.LandmarkViewModel
@{
    ViewBag.Title = "Landmarks";
}
<div class="home-content">
    <div class="row">
        @if (Request.IsAuthenticated)
        {
            <div class="col-md-10 text-center">
                <h1 class="home-header">@ViewBag.Title</h1>
            </div>
            <div class="col-md-2 text-center">
                @Html.ActionLink("+", "AddPhoto", "Landmark", new { id = Model.Id }, new { @class = "add-button" })
            </div>
        }
        else
        {
            <div class="col-md-12">
                <h1 class="home-header">@ViewBag.Title</h1>
            </div>
        }
    </div>
    <div class="row">
        @foreach (var photo in Model.Photos)
        {
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="thumbnail">
                    <img src="@photo.Url" class="img-responsive" alt="@Model.Name image" />
                </div>
            </div>
        }
    </div>
</div>