@model IEnumerable<CityExplorer.Web.ViewModels.CountryViewModel>
@{
    ViewBag.Title = "Countries";
}
<div class="row">
    <div class="col-md-9">
        <h1>@ViewBag.Title</h1>
    </div>
    @if (Request.IsAuthenticated)
    {
        <div class="col-md-3 text-right">
            <h1>@Html.ActionLink("+", "Insert", "Country", new { id = Request.Params["continentId"] }, new { @class = "add-button" })</h1>
        </div>
    }
</div>
<div class="row">

    @foreach (var country in Model)
    {
        <div class="col-md-4 text-center">
            <a href="@Url.Action("Cities", "Home",  routeValues: new
                            {
                                countryId = @country.Id
                            })">
                <h2>@country.Name</h2>
                <img class="image-content" src="@country.Image" alt="@country.Name  map" />
            </a>
        </div>
    }
</div>