@model IEnumerable<CityExplorer.Web.ViewModels.CountryViewModel>
@{
    ViewBag.Title = "Countries";
}
<div class="row">
    @Html.Partial("_Carousel", new CityExplorer.Web.ViewModels.CarouselViewModel { FirstSlideNumber = 2, SecondSlideNumber = 1, ThirdSlideNumber = 4 })
</div>
<div class="home-content">
    <div class="row">

        @if (Request.IsAuthenticated)
        {
            <div class="col-md-11">
                <h1 class="home-header">@ViewBag.Title</h1>
            </div>
            <div class="col-md-1 text-center">
                @Html.ActionLink("+", "Insert", "Country", new { id = Request.Params["continentId"] }, new { @class = "add-button" })
            </div>
        }
        else
        {
            <div class="col-md-12">
                <h1 class="home-header">@ViewBag.Title</h1>
            </div>
        }
    </div>
    <div class="row">

        @foreach (var country in Model)
        {
            <div class="col-md-4 text-center">
                <a href="@Url.Action("Cities", "Home",  routeValues: new
                            {
                                countryId = @country.Id
                            })">
                    <h2>@country.Name</h2>
                    <div class="backgroundless">
                        <img class="image-content" src="@country.Image" alt="@country.Name  map" />
                    </div>
                </a>
            </div>
        }
    </div>
</div>