@model IEnumerable<CityExplorer.Web.ViewModels.ContinentViewModel>
@{
    ViewBag.Title = "Home Page";
}
<div class="row">

    @foreach (var continent in Model)
    {
        <div class="col-md-4 text-center">
            <a href="@Url.Action("Countries", "Home",  routeValues: new
                            {
                                continentId = @continent.Id
                            })">
                <h2>@continent.Name</h2>
                <img class="image-content" src="@continent.Image" alt="@continent.Name  map" />
            </a>
        </div>
    }
</div>