@model IEnumerable<CityExplorer.Web.ViewModels.ContinentViewModel>
@{
    ViewBag.Title = "Home Page";
}

@foreach (var continent in Model)
{
    <div class="continent text-center">
        <a href="@Url.Action("Countries", "Home",  routeValues: new
                            {
                                continentId = @continent.Id
                            })">
            <h3>@continent.Name</h3>
            <img class="image-content" src="@continent.Image" alt="@continent.Name  map" />
        </a>
    </div>
}
