@using Microsoft.AspNet.Identity
@model CityExplorer.Web.InputModels.CommentInputModel
@{
    ViewBag.CityId = Model.CityId;
}
<div class="col-md-12">
    @if (Request.IsAuthenticated)
    {
        using (Ajax.BeginForm("Comment", "City", new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "comments-container"
        }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.Text, new { @class = "col-md-1 control-label" })
                <div class="col-md-11">
                    @Html.TextAreaFor(m => m.Text, new { @class = "form-control", rows = "4", cols = "40" })
                </div>
            </div>
            <div class="text-center">
                <input type="submit" value="Comment" class="btn btn-lg btn-default" />
            </div>

            <input type="hidden" name="CityId" value="@ViewBag.CityId" />
        }
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}