@model CityExplorer.Web.ViewModels.CityInformationViewModel
@{
    ViewBag.Title = "Information";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="home-header">@ViewBag.Title</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
    </div>
    <div class="col-md-9">
        @Html.DisplayFor(m => m.Name, new { @class = "form-control" })
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.LabelFor(m => m.Country.Name, "Country", new { @class = "control-label" })
    </div>
    <div class="col-md-9">
        @Html.DisplayFor(m => m.Country.Name, new { @class = "form-control" })
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.LabelFor(m => m.SettledYear, new { @class = "control-label" })
    </div>
    <div class="col-md-9">
        @Html.DisplayFor(m => m.SettledYear, new { @class = "form-control" })
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.LabelFor(m => m.Area, new { @class = "control-label" })
    </div>
    <div class="col-md-9">
        @Html.DisplayFor(m => m.Area, new { @class = "form-control" })
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.LabelFor(m => m.Population, new { @class = "control-label" })
    </div>
    <div class="col-md-9">
        @Html.DisplayFor(m => m.Population, new { @class = "form-control" })
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.LabelFor(m => m.Description, new { @class = "control-label" })
    </div>
    <div class="col-md-9">
        @Html.DisplayFor(m => m.Description, new { @class = "form-control" })
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.LabelFor(m => m.Website, new { @class = "control-label" })
    </div>
    <div class="col-md-9">
        @Html.DisplayFor(m => m.Website, new { @class = "form-control" })
    </div>
</div>
<div id="comments-container">
    @Html.Action("CommentsListPartial", new { cityId = Model.Id })
</div>
<div class="row">
    @Html.Partial("_Comment", new CityExplorer.Web.InputModels.CommentInputModel { CityId = Model.Id })
</div>