@model IEnumerable<CityExplorer.Web.ViewModels.LandmarkViewModel>
@{
    ViewBag.Title = "Landmarks";
}
<div class="row">

    @if (Request.IsAuthenticated)
    {
        <div class="col-md-10 text-center">
            <h1 class="home-header">@ViewBag.Title</h1>
        </div>
        <div class="col-md-2 text-center">
            @Html.ActionLink("+", "Insert", "Landmark", new { id = Url.RequestContext.RouteData.Values["id"] }, new { @class = "add-button" })
        </div>
    }
    else
    {
        <div class="col-md-12">
            <h1 class="home-header">@ViewBag.Title</h1>
        </div>
    }
</div>
@if (Model.Count() != 0)
{
    <div class="row">

        @foreach (var landmark in Model)
        {
            <div class="col-lg-3 col-md-4 col-xs-6 thumb text-center">
                <div class="thumbnail">
                    <a href="@Url.Action("Index", "Landmark", routeValues: new
                            {
                                id = @landmark.Id
                            })">
                        <label>@landmark.Name</label>
                        <img src="@landmark.Photos.FirstOrDefault().Url" class="img-responsive" alt="@landmark.Name image" />
                    </a>
                </div>
            </div>
        }

    </div>
}
else
{
    <h3>No landmarks added!</h3>
}