@model IEnumerable<CityExplorer.Web.ViewModels.VipViewModel>

<div class="row">
    <div class="col-md-9">
        <h1>People</h1>
    </div>
    @if (Request.IsAuthenticated)
    {
        <div class="col-md-3 text-right">
            <h1>@Html.ActionLink("+", "Insert", "Vip", new { id = Url.RequestContext.RouteData.Values["id"] }, new { @class = "add-button" })</h1>
        </div>
    }
</div>
@if (Model.Count() != 0)
{
    <div class="row">

        @foreach (var vip in Model)
        {
            <div class="col-lg-3 col-md-4 col-xs-6 thumb text-center">
                <div class="thumbnail">
                    <strong>@vip.FirstName @vip.LastName</strong>
                    <br />
                    <em>@vip.Profession</em>
                    <img src="@vip.Photo" class="img-responsive" alt="@vip.LastName image" />
                </div>
            </div>
        }
    </div>
}
else
{
    <h3>No VIPs added!</h3>
}